= form_for User.new, :html => { :class => "form-vertical", :role => "form"}  do |f|
  .row
    .col-sm-12
      %h4.normal Name

      = f.text_field :name,:class => 'form-control', :placeholder => 'Name'
  .row
    .col-sm-12
      %h4.normal Email     
      = f.text_field :email,:class => 'form-control', :placeholder => 'Email'
  .row
    .col-sm-7
      %h4.normal Message

      = f.text_area :details ,:class => 'form-control', :placeholder => 'Add Your Text'
      %br
  .row
    .col-sm-6
    .col-sm-2
      //= link_to button_to("submit", :class => 'btn btn-primary')
      %button{:type=>"submit", :class => 'btn btn-primary'}= "Send"


