!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Ostrya Labs
    :css

      .intro p{
      width: 50%;
      margin: 0 auto;
      font-size: 1.5em;
      }
    :javascript
      $(document).ready(function() {
      	$('#fullpage').fullpage({
        sectionsColor: ['#F1A9A0', '#F1A9A0', '#F1A9A0', '#F1A9A0', '#F1A9A0','#F1A9A0','#F1A9A0'],
        scrollingSpeed: 300,
        anchors: ['home', 'projects','training', 'technologies', 'people','careers','contact'],
        menu: '#myMenu',
        //verticalCentered: false
      	});
      });
  
  %body
    #fullpage
      
      #section0.section.active.hero
        .row.inner
          %br
          %br
          %br

          .col-sm-12
            .home-container
              .white
                %i
                  %center
                    "CLEAN CODE MATTERS"
         
        
      #section1.section.hero
        .row.inner
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          .row
            .col-sm-12
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-mortar-board{:style => "color: #FFF;"}
                    %p.title 
                      .white
                        Educational ERP
                    %p.summary
                      An end to end solution for educational institutions with a lot of emphasis on communication between various stakeholders.
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-users{:style => "color: #FFF;"}
                    %p.title
                      .white
                        Examination  Controller
                    %p.summary Integrating all the functionalities with respect to examination controller module in colleges.
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-clock-o{:style => "color: #FFF;"}
                    %p.title 
                      .white
                        Online Examination Package
                    %p.summary A dynamically run online examination module with multi level authentication. Fully flexible and customization examination functionalities available.
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-building-o{:style => "color: #FFF;"}
                    %p.title
                      .white
                        Property Management System
                    %p.summary Solution to manage rental requirements for small to medium level properties in the US.
          %br
          .row
            .col-sm-12
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-cloud{:style => "color: #FFF;"}
                    %p.title 
                      .white
                        Online Social Marketing Application
                    %p.summary  A perfect place for corporate employees to check out their social marketing needs.
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-comments-o{:style => "color: #FFF;"}
                    %p.title 
                      .white
                        Online Property Deal Application
                    %p.summary An integration platform for buyers, sellers and inter mediators to transact on property deals.
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-bank{:style => "color: #FFF;"}
                    %p.title 
                      .white
                        End to End Benefit Fund Solution
                    %p.summary Solution for a rapidly expanding small segment bank covering all aspects of benefit fund transactions.
              .col-sm-3
                %a.slideLink
                  .slideContainer
                    %span.icon.fa.fa-user{:style => "color: #FFF;"}
                    %p.title
                      .white
                        Consumer Application
                    %p.summary RESTful services for a mobile client.Designed for high Availability & Scalability.Javascript based web app.

      #section3.section.hero
        %br
        %br
        %br
 
        .col-sm-12.inner 
          .col-sm-12
            .col-sm-3
            .col-sm-2
              .bdd-cont
                .bdd
                  %p
                    .black
                      %center
                        %h4
                          BDD 
                  %br
                  .bdd-container
                    %p
                      .white
                        %center
                          %h5
                            During this two day hands-on workshop, you will learn about Ruby on Rails,Developing Rails 3.0 app, Distributed Version Control with Github, Introduction to TDD & BDD,Deploying the application to the cloud

            .col-sm-2
              .angular-cont
                .angular
                  %p
                    .black
                      %center
                        %h4
                          ANGULAR JS
                  %br
                  .angular-container
                    %p
                      .white
                        %center
                          %h5
                            This workshop will  help you learn directives, expressions, templates, data binding,Controllers, Modules, Events, DOM, Forms, Input, Validation, Http, and much more.
            .col-sm-2
              .ruby-cont
                .ruby
                  %p
                    .black
                      %center
                        %h4
                          RUBY ON RAILS
                  %br
                  .ruby-container
                    %p
                      .green
                        %center
                          %h5
                            This workshop will help you learn MVC, Gems, Authentication,Associations and much more.
                
               
            .col-sm-3



                
          .col-sm-12
            
            .col-sm-6
              %br
              .item
                .col-sm-12
                  .block-text2.rel.zmin
                    %a
                      %center
                        Ruby on Rails
                    %p 
                      My expectations from the workshop was merely to understand the Rails framework, and get over the initial pain that a developer goes through in the process of learning a new framework/technology himself.The content was very well hand-picked and prepared to provide the essential knowledge as well as to keep the audience interested throughout. The hands-on session were a very good supplemented to the theory classes.Arun is one of the thorough professionals and the in-depth knowledge of the topics showed during the workshop. The personal touch to the training - of ensuring that the pace matched every single person on-board was a stand-out feature!
                    %ins.ab.zmin.sprite.sprite-i-triangle.block
                  .person-text.rel
                    %br
                    %br
                    .col-sm-11
                      %a{:href => "https://www.linkedin.com/profile/view?authType=OUT_OF_NETWORK&id=2189352&authToken=mK7E&trk=hb_upphoto", :title => "", :target => "_blank"} Ritesh Gupta
                      %i
                        Senior Technical Architect (Java/J2EE),
                        %br
                        11 years experience in IT
            .col-sm-6
            
              %br
              .item
                .col-sm-12

                  %h3.block-text2.rel.zmin
                    %a
                      %center
                        Cucumber, Rspec & GitHub
                      
                    %p Arun  did a great job of covering Ruby on Rails and related technologies like cucumber, RSpec, github, etc. with a good mix of presentation and hands-on lab time! Highly recommended for anyone who wants to learn these technologies.
                    %ins.ab.zmin.sprite.sprite-i-triangle.block
                  .person-text.rel
                    %br
                    %br
                    .col-sm-11
                      %a{:href => "https://www.linkedin.com/profile/view?id=770021&pvs=ps&srchindex=2&authToken=iEBL&authType=NAME_SEARCH&trk=pp_profile_name_link&srchid=02b9a517-1a38-44a1-98e5-f0117fd86eac-0&goback=%2Efps_PBCK_Krishna+Natarajan_*1_*1_*1_*1_*1_*1_*2_*1_Y_*1_*1_*1_false_1_R_*1_*51_*1_*51_true_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2_*2&locale=en_US&srchtotal=48", :title => "", :target => "_blank"} Krishna Natarajan 
                      %i
                        %br
                        25 years veteran in IT industry


      #section4.section.hero
        .row.inner 
          .container
            .col-sm-6
              %h3.white
                CSS

              %IMG{:ALIGN => "Left", :BORDER => "0", :SRC => "/assets/s113143830.png"} 
              %h4.white
                Style Sheet Language used for describing the look and formatting of a document written in a markup language.
                = link_to "Learn here...!" , 'http://www.w3.org/Style/CSS/Overview.en.html', :target => "_blank"
              %br
              %br
              %br
              %h3.white
                RAILS
              %IMG{:ALIGN => "Left", :BORDER => "0", :SRC => "/assets/s113106595.png"} 
              %h4.white
                Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity. 
                = link_to "Learn here...!" , 'http://rubyonrails.org/', :target => "_blank"
              %br
              %br
              %br
              %h3.white
                ANGULAR JS
              %IMG{:ALIGN => "Left", :BORDER => "0", :SRC => "/assets/s112905632.png"}  
              %h4.white
                AngularJS, is an open-source web application framework, that assists with creating single-page applications,
                = link_to "Learn here..!","https://docs.angularjs.org/tutorial", :target => "_blank"         
            .col-sm-6
              %h3.white
                HTML
              %IMG{:ALIGN => "Left", :BORDER => "0", :SRC => "/assets/s113815267.png"} 
              %h4.white
                A standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages.
                = link_to "Learn here..! ", "http://www.w3.org/TR/html5/", :target => "_blank"

              %br
              %br
              %br
              %h3.white
                JAVA SCRIPT   
              %IMG{:ALIGN => "Left", :BORDER => "0", :SRC => "/assets/s113224132.png"} 
              %h4.white
                An object-oriented computer programming language commonly used to create interactive effects within web browsers.
                = link_to "Learn here..!" , "https://developer.mozilla.org/en/docs/Web/JavaScript", :target => "_blank"
              %br
              %br
              %br
              %h3.white
                PSQL
              %IMG{:ALIGN => "Left", :BORDER => "0", :SRC => "/assets/s113251950.png"} 
              %h4.white
                Query language for requesting information from a database.
                = link_to "Learn here..!" , "http://www.postgresql.org/", :target => "_blank"

          -#   %br
            



      #section5.section.hero
        
        .row.inner 
          .pic-container
            .col-sm-12
              .view1.view-portfolio
                %img.img-responsive{:src => "/assets/gopika.jpg"}
                .mask
                  %h2 GOPIKA UK
                  %p Director & CEO

              .view1.view-portfolio
                %img.img-responsive{:src => "/assets/arun.jpg"}
                .mask
                  %h2 ARUN VYDIANATHAN
                  %p Founder & Technical Advisor

              .view1.view-portfolio
                %img.img-responsive{:src => "/assets/hari.jpg"}
                .mask
                  %h2 Dr. SRIHARI V
                  %p Director, Marketing

            .col-sm-12
              .view.view-portfolio
                %img.img-responsive{:src => "/assets/srikanth.jpg"}
                .mask
                  %h2 Srikanth
                  %p Associate

              .view.view-portfolio
                %img.img-responsive{:src => "/assets/muralee.jpg"}
                .mask
                  %h2 Muralee
                  %p Associate

              .view.view-portfolio
                %img.img-responsive{:src => "/assets/navya.jpg"}
                .mask
                  %h2 Navya
                  %p Associate

              .view.view-portfolio
                %img.img-responsive{:src => "/assets/priya.jpg"}
                .mask
                  %h2 Priya
                  %p Associate
                
            
      #section6.section.hero
        .col-sm-12.inner
          .career-container
            %center
              %h3
                .red
                  Programmer
              %h4.white
                Looking for a passionate programmer who cares a lot for the craft for working in enticing Ruby/Rails projects. You would fit the bill if you :-
            %b
              %h4.white
                %p * Love to write code 
                %br
                %p * Test Drive your code 
                %br        
                %p * Work on open source technologies 
                %br
                %p * Are familiar with Web App Development / Deployment / Scaling / Monitoring 
                %br
                %p * Apply OOP & OOD in day-to-day work 
                %br
                %p * nix or Mac is your primary OS of comfort 
                %br
                %p * Are familiar with git 
                %br
                %p * Get kicks on using vi or emacs
                %br
                %p * Huge Plus Ruby/Rails Experience
          
              %h4.white
                %p 
                  If you are interested send us your GitHub Handle (if any), reference to any previous work, blog and linkedin profile to  
                  = link_to 'contact@ostryalabs.com', '#'
                    



      #section7.section.hero
        .row.inner 
          .pic-container
            -# .white
            -#   %center
            -#     %h1
            -#       Contact Us
            .col-sm-12
              .col-sm-1
              .col-sm-4
                .white
                  %br
                  %br
                  %br
                  %br
                  %br
                  = render "form"
              .col-sm-4
                %br
                %br
                %br
                %br
                %br

                %h4.normal.white
                  %b
                    %span.fa.fa-home
                      IIIT-H Campus,
                      %br
                      %br
                      &nbsp &nbsp 2nd Floor, Vindhya C4, 
                      %br
                      %br
                      &nbsp &nbsp Gachibowli,
                      %br
                      %br
                      &nbsp &nbsp Hyderabad-500032
                    %br
                    %br
                    %span.fa.fa-phone
                      Contact: +91 9866402306 
                    %br
                    %br
                    %span.fa.fa-envelope
                      info@ostryalabs.com
                    %br
                    %br
                    %span.fa.fa-globe
                      www.ostryalabs.com
              .col-sm-3
                %br
                %br
                %br
                %br
                %br
                = render "contact_us"
     
                //%img.img-responsive{:src => '/assets/maps.png', :width => '400px', :height => '300px'}





