!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Ostrya Labs
    -# %meta{:content => "Alvaro Trigo Lopez", :name => "author"}/
    -# %meta{:content => "fullPage plugin by Alvaro Trigo. Create fullscreen pages fast and simple. One page scroll like iPhone website.", :name => "description"}/
    -# %meta{:content => "fullpage,jquery,alvaro,trigo,plugin,fullscren,screen,full,iphone5,apple", :name => "keywords"}/
    -# %meta{:content => "Document", :name => "Resource-type"}/
    -# %link{:href => "/stylesheets/jquery.fullPage.css", :rel => "stylesheet", :type => "text/css"}/
    -# %link{:href => "examples.css", :rel => "stylesheet", :type => "text/css"}/
      :css
        /* Sections
        * --------------------------------------- */
      
      #section0 img,
      #section1 img{
      margin: 20px 0 0 0;
      }
      -# #section2 img{
      -# margin: 20px 0 0 0;
      -# }
      #section3 img{
      margin: 20px 0 0 0;
      }
      #section4 img{
      margin: 20px 0 0 0;
      }
      #section5 img{
      margin: 20px 0 0 0;
      }
      #section6 img{
      margin: 20px 0 0 0;
      }
      #section7 img{
      margin: 20px 0 0 0;
      }
     

      .intro p{
      width: 50%;
      margin: 0 auto;
      font-size: 1.5em;
      }
      .twitter-share-button{
      position: absolute;
      z-index: 99;
      right: 149px;
      top: 9px;
      }

    -# %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    -# %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"}
    -# %script{:src => "../jquery.fullPage.js", :type => "text/javascript"}
    //%script{:src => "examples.js", :type => "text/javascript"}
    :javascript
      $(document).ready(function() {
      	$('#fullpage').fullpage({
      		sectionsColor: ['#ACC9E2', '#4BBFC3', '#E4B5DB', '#79DEFA', '#F8E5A4', '#F0C79C','#B49CF0'],
      		anchors: ['firstPage', 'secondPage', '4thpage', '5thpage', '6thpage','7thpage','8thpage'],
      		menu: '#menu'
      	});
      });
  
  %body
    #fullpage
      #section0.section.bck1
        .col-sm-4
          %br
          %br
          %br
          %br
          
            
        .col-sm-4
          //= render 'test'
        -# .row
        -#   %br
        -#   %br
        -#   %br
        -#   %br
        -#   %br
        -#   %link{:href => "http://fonts.googleapis.com/css?family=Mr+Dafoe", :rel => "stylesheet", :type => "text/css"}
        -#   .shadow1 
        -#     The way you start your day determines how well you live your day
        -#     %br
        -#     %h2 - ROBIN SHARMA
        
      #section1.section.bck2
        .row
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  = link_to image_tag('school.jpg')
                 
                .back.face.center
                  %p This is nice for exposing more information about an image.
                 
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "exam.jpg"
                .back.face.center
                  %p This is nice for exposing more information about an image.
                 
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "onlineexam.jpg"
                .back.face.center
                  %p This is nice for exposing more information about an image.
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "bank.jpg"
                .back.face.center
                  %p This is nice for exposing more information about an image.
                 
        .row
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "property.jpg"
                .back.face.center
                  %p This is nice for exposing more information about an image.
                 
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "deal.jpg"
                .back.face.center
                  %p This is nice for exposing more information about an image.
                 
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "123.jpg"
                .back.face.center 
                  %p This is nice for exposing more information about an image.
          .col-sm-3
            #f1_container
              #f1_card.shadow
                .front.face
                  //%img{:src => "app/images/11.jpg"}
                  = image_tag "property.jpeg"
                .back.face.center
                  %p This is nice for exposing more information about an image.
                 



      #section3.section.bck1
        %br
        %br
        %br
        %br
        .row
          .col-sm-1
          .col-sm-10
            %h4 Trainings
        .row
          .col-sm-1
          .col-sm-8
            #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
              .panel.panel-default
                #headingOne.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a{"aria-controls" => "collapse", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse"}
                      BDD with Ruby on Rails 
                #collapse.panel-collapse.collapse{"aria-labelledby" => "heading", :role => "tabpanel"}
                  .panel-body
                    Ruby on Rails is the cleanest and fastest way to develop industrial strength web applications. It is based on the awesome Ruby language, and by adhering to principles like convention over configuration and DRY, it makes the developer's life pretty easy. In fact, Rails is pure fun!
                    %br
                    &nbsp &nbsp &nbsp &nbsp Behavior Driven Development(BDD) is a second generation agile methodology that grew out of the frustrations the first generation agilists faced with Test Driven Development. BDD encourages collaboration between developers, QA and business participants in a software project. BDD helps to write test cases in a natural language that non-programmers can read and there by facilitates in obtaining clear understanding of desired software behavior.
                    %br
                    &nbsp &nbsp &nbsp &nbsp The workshop will cover  - Ruby, Rails, RSpec, Cucumber & Git 


              .panel.panel-default
                #headingTwo.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
                      Angular JS
                #collapseTwo.panel-collapse.collapse{"aria-labelledby" => "headingTwo", :role => "tabpanel"}
                  .panel-body
                    &nbsp &nbsp  AngularJS is a JavaScript MVC framework developed by Google that lets you build well structured, easily testable, and maintainable front-end applications.
                    %br
                    &nbsp &nbsp &nbsp &nbsp  If you haven’t tried AngularJS yet, you’re missing out. The framework consists of a tightly integrated toolset that will help you build well structured, rich client-side applications in a modular fashion—with less code and more flexibility.
                    %br
                    &nbsp &nbsp &nbsp &nbsp This workshop will  help you learn AngularJS as quickly and efficiently as possible.You will learn all the basics of AngularJS: directives, expressions, templates, and data binding.And you will learn everything else you need to know about AngularJS:Controllers, Modules, Events, DOM, Forms, Input, Validation, Http, and much more.
              .panel.panel-default
                #headingThree.panel-heading{:role => "tab"}
                  %h4.panel-title
                    %a.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
                      Devise
                #collapseThree.panel-collapse.collapse{"aria-labelledby" => "headingThree", :role => "tabpanel"}
                  .panel-body
                    Devise is a flexible authentication solution for Rails based on Warden. It:
                    %br
                    &nbsp &nbsp &nbsp &nbsp Is Rack based;
                    %br
                    &nbsp &nbsp &nbsp &nbsp Is a complete MVC solution based on Rails engines;
                    %br
                    &nbsp &nbsp &nbsp &nbsp Allows you to have multiple models signed in at the same time;
                    %br
                    &nbsp &nbsp &nbsp &nbsp Is based on a modularity concept: use just what you really need.
                    %br
                    The workshop will cover  Installation of the gem ,Adding Authentication to an Application
        .row
          .col-sm-1
          .col-sm-10
            %h4 Testimonials
        .row
          .col-sm-1
          .col-sm-4
            .well
              My expectations from the workshop was merely to understand the Rails framework, and get over the initial pain that a developer goes through in the process of learning a new framework/technology himself. However, what I got in this workshop was much more than that.
              %br
              %br
              Ritesh Gupta
              %br
              Senior Technical Architect (Java/J2EE), 11 years experience in IT 
          .col-sm-4
            .well
              Arun and Suresh did a great job of covering Ruby on Rails and related technologies like cucumber, RSpec, github, etc. with a good mix of presentation and hands-on lab time! Highly recommended for anyone who wants to learn these technologies.
              %br
              %br
              Krishna Natarajan
              %br
              25 years veteran in IT industry 


     

        
      
      #section4.section.bck2
        #container
          .row
            .col-sm-4
              .quote-container
                %i.pin
                %blockquote.note.yellow
                  = image_tag "css.jpg"
                  %b CSS 
                  %br
                  Style Sheet Language used for describing the look and formatting of a document written in a markup language.
                  %br 
                  = link_to "learn it here" , "http://www.csstutorial.net/"
            .col-sm-4
              .quote-container
                %i.pin
                %blockquote.note.yellow
                  = image_tag "html.jpg"
                  %b HTML
                  %br
                  A standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages.
                  %br 
                  = link_to "learn it here" , "http://www.html5-tutorials.org/"
         
            .col-sm-4
              .quote-container
                %i.pin
                %blockquote.note.yellow
                  = image_tag "sql.jpg"
                  %b PSQL
                  %br
                  Query language for requesting information from a database.
                  %br
                  = link_to "learn it here", "http://www.postgresqltutorial.com/"
                  
          .row
            .col-sm-4
              .quote-container
                %i.pin
                %blockquote.note.yellow
                  = image_tag "an.jpg"
                  %b ANGULAR JS 
                  %br
                  AngularJS, is an open-source web application framework, that assists with creating single-page applications,
                  %br 
                  = link_to "learn it here" , "https://docs.angularjs.org/tutorial"
                  
            .col-sm-4
              .quote-container
                %i.pin
                %blockquote.note.yellow
                  = image_tag "js.jpg"
                  %b JAVA SCRIPT   
                  %br  An object-oriented computer programming language commonly used to create interactive effects within web browsers.
                  %br 
                  = link_to "learn it here" ,"http://www.codecademy.com/en/tracks/javascript"
            .col-sm-4
              .quote-container
                %i.pin
                %blockquote.note.yellow
                  = image_tag "rails.jpg"
                  %b RAILS
                  %br Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity. 
                  %br  
                  = link_to "learn it here" , "https://www.railstutorial.org/"
                

      #section5.section.bck1
        %br
        %br
        %br
        .row.test-margin
          .col-sm-1
          .col-sm-3
            .i1.circle-shadow
              .text1
                %br
                %br
                %br
                %br
                %center
                  Gopika UK
                  %br
                  Director
          .col-sm-3
            .i2.circle-shadow
              .text1
                %br
                %br
                %br
                %center
                  Arun Vydianathan
                  %br
                  Founder
          .col-sm-3
            .i3.circle-shadow
              .text1
                %br
                %br
                %br
                %center
                  Hari
                  %br
                  Managing Director
        %br
        .row.test-margin1
          .col-sm-3
            .i4.circle-shadow
              .text1
                %br
                %br
                %br
                %br
                %center
                  Srikanth
          
          .col-sm-3
            .i5.circle-shadow
              .text1
                %br
                %br
                %br
                %br
                %center
                  Muralee
                
          .col-sm-3
            .i6.circle-shadow
              .text1
                %br
                %br
                %br
                %br
                %center
                  Navya
          
          .col-sm-3
            .i7.circle-shadow
              .text1
                %br
                %br
                %br
                %br
                %center
                  Priya
                

            
      #section6.section.bck2
      #section7.section.bck1
        %br
        %br
        %br
        %br
        %br
        
        .col-sm-4
          = render "form"
        .col-sm-3
          %h4
            %b
              IIIT-H Campus,
              %br
              %br
              2nd Floor, Vindhya C4, 
              %br
              %br
              Gachibowli, Hyderabad-500032
              %br
              %br
              Contact: +91 9866402306 
              %br
              %br
              E-mail: info@ostryalabs.com
        .col-sm-3
          = render "contact_us"


      

      
