%br
%br
.row
  .col-sm-12
    .pull-left
      .red
        %h2
          Setting up Linux Box and Installing Ruby on Rails
          %br
      %h3
        By Suresh, 01-May-2011
  .col-sm-12
    .container
      %p
        %h4
          I had been working in Windows world all through my professional career and took a plunge into Rails and Linux while we decided to start Ostrya Labs. Coming to the world of Linux from Windows has been liberating, especially for a keyboard junkie like me. Plus I just love the fact that I can invert the color of any/all window by pressing WindowsKey+N or WindowsKey+M. That is just super awesome!
      %p
        %h4

          Of course, coming from the dumbed down Microsoft/Windows world, things haven’t been exactly only rosy. There were a few thorns, nothing more irritating than trying to set up the development environment in the same machine again and again. Let me explain.
      %p
        %h4

          I started learning Rails on my laptop running Windows Vista. Rails is meant to be run on a Unix based machine (Linux or Mac OS), and it is a real pain in the proverbial to get everything working on Windows, and in fact some of the things just don’t work well (spork and autotest, off the top of my head). But still I got things working and used Rails on Vista for a few weeks.
      %p
        %h4

          I was sort of sticking to my desktop running Windows XP for all my serious work since Vista was (and is) pretty slow — it had almost become my wife’s movie watching machine!
      %p
        %h4

          When I wanted to install Ubuntu 10.10 the first time, I tried my level best to opt for dual booting on my laptop. In spite of my valiant effort to defragment the disk to make space for Ubuntu, the system refused to allocate anything more than 150 MB for another partition. I decided enough is enough, and installed Ubuntu 10.10 aka “Maverick Meerkat” wiping the disk clean and getting rid of Vista.
      %p
        %h4
          
          This was the first time I was ever working on Ubuntu, and so had to spend a lot of time grokking around to get everything setup as I wanted it to be (or as I was used to all these years).
      %p
        %h4
          
          When Ubuntu 11.04 (Natty Narwhal) came out, and I read about the new sleek (and I must add, really helpful for someone like me) Unity interface, I decided to upgrade. Upgrade itself was a breeze, and everything was working and looking great, on the second morning I started noticing the only problem I have had with it — system freeze.
      %p
        %h4
          
          Due to some reason (that I am not good enough at the moment to identify by myself or rectify) the system would freeze on every boot, and I will have to kill it once, run in recovery mode, kill again, and then start again to get the system to boot! The same was happening even if I tried to work around it by using Hibernate.
      %p
        %h4

          Of course, not everyone who has upgraded to Ubuntu 11.04 is facing this issue, but some definitely are, and the freeze happens at different moments for different people. I tried raising it in various forums, but didn’t get any solution.
      %p
        %h4

          Having spent the last 15 days doing this killing ritual many times a day, I decided once again that enough is enough, and decided to install 10.10 back, which I did. Of course, it had to wipe the system clean and reinstall since it is a downgrade.
      %p
        %h4

          So, here I had a blank machine one more time, and this time I decided to jot down the things I had to do to get the machine to a state that I would be happy about. I am a bit finicky about things like colors and fonts. For instance, in my book, the default fonts like Courier New or Monospace or Ubuntu-font are not as great as Google’s Droid font or the awesome Consolas/Inconsolata, and I prefer light color text on dark background for coding as well as reading web pages.
      %p
        %h4
          
          So here is the dump of the steps I took to reclaim my machine. I will use it as a reference the next time I have to install Linux on any box, and I hope some of the things mentioned here will be useful for you — for instance, how to maximise the screen estate without upgrading to Unity!
      %p
        %h3
          .red
            Basic Machine Set Up
      %p
        %h3
          .sky
            Configure gEdit
      %p
        %h4
          .col-sm-12
            .col-sm-12
              %u Enable
              %li  View
              %li Display line numbers
              %br
              
          .col-sm-12
            %u Editor
            .col-sm-12
              %ul 
                Tab Stops
                %li
                  Tab width: 2
                %li 
                  Insert spaces instead of tabs
              %ul
                Automatic indentation
                %li
                  Enable automatic indentation
                %br
          .col-sm-12
            %u Font
            .col-sm-12
              %ul
                Remove “Use the system fixed width font”
                %li
                  Select “Inconsolata 11” as font
          .col-sm-12
            %u 
              Color Scheme
              .col-sm-12
                %li Oblivion
          %br
      %p
        %h3
          .red
            Configure Nautilus
      %p
        %h4

          View
          %br
          &nbsp &nbsp &nbsp &nbsp Default view Compact
          %br
          &nbsp &nbsp &nbsp &nbsp Arrange Items by Modification Date
          %br
          &nbsp &nbsp &nbsp &nbsp Zoom 50%
      %p
        %h3
          .red
            Configure Terminal
      %p
        %h4

          select “Inconsolata 11” as font
          %br
          Color: Green on black
      %p
        %h3
          .red
            Install Firefox 4
      %p
        %h4
          .black-well
            
            sudo add-apt-repository ppa:mozillateam/firefox-stable
            %br
            sudo apt-get update
            %br
            sudo apt-get upgrade
      %p
        %h3
          .red
            Install Chrome Dev Channel
      %p
        %h4

          Install Chrome apps
      %p
        %h4

          = link_to 'http://www.chromium.org/getting-involved/dev-channel','http://www.chromium.org/getting-involved/dev-channel', :target => "_blank"
          %br
          = link_to 'http://googlesystem.blogspot.com/2010/07/install-google-web-apps-in-google.html','http://googlesystem.blogspot.in/2010/07/install-google-web-apps-in-google.html', :target => "_blank"
          %br
          = link_to 'http://www.readwriteweb.com/archives/weekend_project_install_google_web_apps_in_chrome_or_chromium.php','http://readwrite.com/2010/07/16/weekend_project_install_google_web_apps_in_chrome_or_chromium', :target => "_blank"
          %br
          = link_to 'http://downloadsquad.switched.com/2010/07/06/more-google-chrome-web-apps/','http://downloadsquad.switched.com/2010/07/06/more-google-chrome-web-apps/', :target => "_blank"
      %p
        %h4
          
          Also reinstall “Mail Checker Plus for Google Mail” from 
          = link_to 'https://chrome.google.com/webstore/detail/gffjhibehnempbkeheiccaincokdjbfe##','https://chrome.google.com/webstore/detail/gffjhibehnempbkeheiccaincokdjbfe', :target => "_blank"
      %p
        %h4
          .red
            Maximize screen real estate
      %p
        %h4
          Don’t install “window applets” using the first link (though it is fine) below, but do use it to install “Window Picker” and Maximus.
          %br
          = link_to 'http://www.omgubuntu.co.uk/2011/01/maximising-screen-space-in-ubuntu/','http://www.omgubuntu.co.uk/2011/01/maximising-screen-space-in-ubuntu/', :target => "_blank"
          %br
          = link_to 'http://www.webupd8.org/2010/12/window-applets-0210-released.html','http://www.webupd8.org/2010/12/window-applets-0210-released.html', :target => "_blank"
          %br
          To install Window Applets 0.2.10 in Ubuntu, you can use the WebUpd8 PPA:
      %p
        %h4
          .black-well
            sudo add-apt-repository ppa:nilarimogard/webupd8
            %br
            sudo apt-get update
            %br
            sudo apt-get install gnome-window-applets
      %p
        %h4

          You might have to run “killall gnome-panel” before you can see “Window Buttons” and “Window Title” in the “Add to Panel” list, as mentioned in the FAQ in this page: 
          = link_to 'http://gnome-look.org/content/show.php?content=103732','http://gnome-look.org/content/show.php?content=103732', :target => "_blank"
      %p
        %h4

          Btw, I removed “Window Title” since “Window Picker” since “Window Picker” already shows the window title. I ended up hiding that caption as well since it is sorta redundant.
      %p
        %h3
          .red
            Install banshee music player (stable)
      %p
        %h4

          = link_to 'http://banshee.fm/download/','http://banshee.fm/download/', :target => "_blank"
      %p
        %h4
          .black-well
            sudo add-apt-repository ppa:banshee-team/ppa
            %br
            sudo apt-get update
            %br
            sudo apt-get install banshee
      %p
        %h4
          .red
            Installing favorite fonts
      %p
        %h4

          Inconsolata font 
          = link_to 'http://kevin.vanzonneveld.net/techblog/article/install_the_best_coding_font/','http://kvz.io/blog/2009/05/25/install-the-best-coding-font/', :target => "_blank"
      %p
        %h4
          .black-well
            sudo apt-get install ttf-inconsoloata
      %p
        %h4

          Droid fonts
      %p
        %h4
          .black-well
            sudo apt-get install ttf-droid
      %p
        %h4

          I actually had backed up the font folders [.fonts, .fontconfig, both under root (~/)], but forgot about it, and so had to install the above two again.
      %p
        %h4

          Apply the favorite fonts everywhere: Configure gEdit, Terminal, browsers and the system as such to use Droid and Inconsolata fonts. Yeah, I am a bit mad when it comes to fonts and colors used in the IDE.
      %p
        %h3
          .red
            Install Picasa 3
      %p
        %h4

          Grab it from 
          = link_to 'http://picasa.google.com/linux/','http://picasa.google.com/linux/', :target => "_blank"
      %p
        %h3
          .red
            Install aptitude
      %p
        %h4

          This would come in handy to install stuff that needs aptitude rather than the default apt-get package manager.
      %p
        %h4
          .black-well
            sudo apt-get install aptitude
      %p
        %h3
          .red
            Install Wine and Kindle for PC
      %p
        %h4

          If you are like me, and is a bookworm, you naturally love Kindle [device or app]. Though Amazon and Kindle itself runs on Linux, they don’t support Linux when it comes to the Kindle apps. But, fear not. Using Wine, we can install Kindle for PC on our Linux box. Here are a couple of sites explaining how it is done.
      %p
        %h4

          Install the Kindle for PC application on your Linux computer: 
          = link_to 'http://www.fewt.com/2009/11/install-kindle-for-pc-application-on.html','http://www.fewt.com/2009/11/install-kindle-for-pc-application-on.html', :target => "_blank"
      %p
        %h4
          
          Installing Kindle for PC on Debian Squeeze: 
          = link_to 'http://okomestudio.net/biboroku/?p=931','http://okomestudio.net/biboroku/?p=931', :target => "_blank"
      %p
        %h4

          Though I had installed the latest version of Kindle for PC about 3 months back (as explained in the the first link above), as of today, I am unable to make it work (may be Amazon released a new version that doesn’t work with the Wine I have?) and so had to use an old beta version of the Kindle for PC app (as mentioned in the second link). But as they say, something is better than nothing!
      %p
        %h3
          .red
            Install Pinta (equivalent of Paint.net)
      %p
        %h4

          I am someone who takes a number of screenshots in a month for various things, and so not having the equivalent of Paint is not acceptable. I usually crop the screenshots and so I need a decent editor.
      %p
        %h3
          .red
            Enter Pinta: 
            = link_to 'http://www.ubuntugeek.com/pinta-paint-net-clone-for-linux.html#more-4476','http://www.ubuntugeek.com/pinta-paint-net-clone-for-linux.html#more-4476', :target => "_blank"
      %p
        %h4
          .black-well
            sudo add-apt-repository ppa:moonlight-team/pinta
            %br
            sudo apt-get update
            %br
            sudo aptitude install pinta
      %p
        %h4
          .red
            Configure Reliance NetConnect
      %p
        %h4
          
          Unfortunately, my Reliance Netconnect just doesn’t work with the out-of-the-box method (of adding a new mobile network connection), and what works is the steps outlined by Harbhag at his blog: Reliance Netconnect Broadband+ on Ubuntu
      %p
        %h4

          May be there are other ways to achieve the same thing, but this works for me, and so that is what I will use in future as well.
      %p
        %h4
          .red
            Further tips and tricks to customize Ubuntu
      %p
        %h4

          Refer http:
          = link_to '//www.techsupportalert.com/content/ubuntu-tips-and-tricks.htm','http://www.techsupportalert.com/content/ubuntu-tips-and-tricks.htm', :target => "_blank"
      %p
        %h4
          .red
            Developer Tools Setup
      %p
        %h4

          Install LAMP
          = link_to 'http://tuxtweaks.com/2010/04/installing-lamp-on-ubuntu-10-04-lucid-lynx/','http://tuxtweaks.com/2012/04/installing-lamp-on-ubuntu-12-04-precise-pangolin/' , :target => "_blank"
          [I stopped short of installing phpAdmin which is mentioned at the end]
          = link_to 'http://surferzworld.com/2010/10/installing-lamp-linux-apache-mysql-php-server-ubuntu/','http://surferzworld.com/2010/10/installing-lamp-linux-apache-mysql-php-server-ubuntu/', :target => "_blank"
          [looks promising, but I didn’t follow this]
          Install gvim
      %p
        %h4

          sudo apt-get install vim vim-gnome
      %p
        %h4

          Since I had backed up the vim settings yesterday before reinstalling Ubuntu 10.10, I just had to copy paste the settings back into the root (~/) and gvim was ready to go with all the plugins, themes and fonts that I was using, which was great. The folders/files that I had backed up were taglist, .vim-fuf-data, fuzzy_file_finder-1.0.4, .vim, src, VimSettings, .vimfuzzyfinder, .viminfo, .gvimrc, .vimrc
      %p
        %h4

          The only thing that I had to install was “exuberant ctags” using
      %p
        %h4
          .black-well
            sudo apt-get install exuberant-ctags
      %p
        %h4

          I tested to ensure my favorite plugins were working fine: rails-vim, nerd-tree, Bufexplorer etc were working fine. And yes, my favorite themes were also around — railscasts, obsidian2, and others.
      %p
        %h4

          I will try to post about my vim experiences some day.
      %p
        %h4

          Note: From here on, the installation process was done based on a bunch of resources:
      %p
        %h4

          Blog post by my good friend and colleague, Arun (@arunsark):
      %p
        %h4

          Installing RoR in Ubuntu:
          = link_to 'http://arunsark.wordpress.com/2011/02/25/installing-ror-in-ubuntu/','https://arunsark.wordpress.com/2011/02/25/installing-ror-in-ubuntu/', :target => "_blank"
      %p
        %h4

          The excellent Ruby on Rails Tutorial book (available online for free):
      %p
        %h4

          = link_to 'http://ruby.railstutorial.org/ruby-on-rails-tutorial-book#sec:up_and_running','https://www.railstutorial.org/book#sec:up_and_running', :target => "_blank"
      %p
        %h4

          The Ruby on Rails Tutorial video on installing Rails in Linux/MacOS/Windows (this bit is free):
      %p
        %h4

          = link_to 'http://ruby.railstutorial.org/ [check the section Table of Contents for links to free videos]','https://www.railstutorial.org/', :target => "_blank"
      %p
        %h4

          A couple of blogs that I stumbled upon:
      %p
        %h4

          Ruby On Rails Development On Ubuntu 10.10 With git, vim, And RVM: 
          = link_to 'http://appogee.posterous.com/ubuntu-1010-ruby-on-rails-setup','http://appogee.posterous.com/ubuntu-1010-ruby-on-rails-setup', :target => "_blank"
          %br
          How to install Rails 3.0 and Ruby 1.9.2 on Ubuntu: 
          = link_to 'http://toranbillups.com/blog/archive/2010/09/01/How-to-install-Rails-3.0-and-Ruby-1.9.2-on-Ubuntu','http://toranbillups.com/blog/archive/2010/09/01/How-to-install-Rails-3.0-and-Ruby-1.9.2-on-Ubuntu/', :target => "_blank"
      %p
        %h4
          .red
            Install git
      %p
        %h4
          .black-well
            sudo apt-get install git-core
      %p
        %h4
          .red
            Set up tab completion for git
      %p
        %h4

          Trying to set up tab completion for git branches turned out to be a bit of a pain since the version of git installed by the above command apparently doesn’t have the file “contrib/completion/git-completion.bash” that is the source for tab completion.
      %p
        %h4

          I had to download the latest git source (tar ball) from 
          = link_to 'http://git-scm.com/download','http://git-scm.com/download', :target => "_blank"
          , extract it, and use the file that was available inside the contrib/completion folder (your version number might be different based on when you are downloading):
      %p
        %h4

          This section follows what is mentioned in the Ruby on Rails Tutorial free video on installing Rails in Linux/MacOS.
      %p
        %h4

          Refer
          = link_to 'http://ruby.railstutorial.org/bashrc','http://ruby.railstutorial.org/bashrc', :target => "_blank"
          for the exact contents that goes into the ~/.bashrc file
      %p
        %h4

          navigate to the Downloads folder where the tar file was downloaded
      %p
        %h4

          $ cd Downloads/
          %br
          unzip it
          %br
          $ tar jxf git-1.7.5.1.tar.bz2
          %br
          navigate into the git source and copy the git-completion.bash to the root folder
          %br
          $ cd git-1.7.5.1/
          %br
          $ cp contrib/completion/git-completion.bash ~
          %br
          Open the .bashrc file for editing
          %br
          $ gvim ~/.bashrc
          %br
          Now, Paste the contents from 
          = link_to 'http://ruby.railstutorial.org/bashrc into the file.','http://ruby.railstutorial.org/bashrc', :target => "_blank"
          %br
          Next, run the following to source the bashrc file.
          %br
          $ . ~/.bashrc
      %p
        %h3
          .red
            Install curl
      %p
        %h4
          .black-well
            sudo apt-get install curl
      %p
        %h3
          .red
            Install Ruby Version Manager (RVM)
      %p
        %h4

          Refer 
          = link_to 'https://rvm.beginrescueend.com/rvm/install/','https://rvm.beginrescueend.com/rvm/install/', :target => "_blank"
          and follow along.
      %p
        %h4
          
          This was a nightmare for me and I had to keep running “source .bash-profile” to ensure rvm was always recognized as a command/function. Of course, I think if you follow one of the sources (instead of trying to follow “the best from all sites”) you might not run into this problem.
      %p
        %h4

          In fact, I still need to run ""source .bash_profile" every time I start a terminal for the system to recognize rvm and rails as commands/functions.
      %p
        %h4

          Note: Since this is the third or fourth time I am setting this up, I think you are better off refering to one source while installing rvm. This is the first time I tried to act smart (by referring to multiple sources, trying to pull in the best bits about the installation or setup), and promptly, paid the price!
      %p
        %h4

          Update: I found out the issue. .bash_profile might be used by some other Linux distributions, but not Ubuntu. For Ubuntu, the proper file is /.bashrc [i.e. “.bashrc” under root (/)]. So, there was nothing much that I had to do except for using .bashrc wherever .bash_profile was being mentioned!
      %p
        %h4

          Anyways, I also learnt how to uninstall rvm in the process:
      %p
        %h4
          .black-well
            gem uninstall rails
            %br
            rvm implode
      %p
        %h3
          .red
            Install Ruby
      %p
        %h4
          .black-well
            rvm install 1.9.2
      %p
        %h4

          You might have to jump through a few hoops here (to create the gemset, the default gemset and so on. Please refer the Ruby on Rails Tutorial or the blog posts mentioned above).
      %p
        %h4

          At the end of it, your system should be using 1.9.2 against a gemset you created. At end of it all, I ran the command:
      %p
        %h4
          .black-well
            rvm --default use 1.9.2@rails3
      %p
        %h4

          which means I am on ruby 1.9.2 and I have created a gemset rails3 for me to play with.
      %p
        %h3
          .red
            Install Rails 3.0.7 (the latest at the moment).
      %p
        %h4
          .black-well
            gem install rails --version 3.0.7 
      %p
        %h3
          .red
            Install the databases
      %p
        %h4

          If you had followed along from the top (referring to the different sources, you would have already installed both mysql and sqlite3). If you haven’t, please refer the “Databases” step of 
          = link_to 'http://appogee.posterous.com/ubuntu-1010-ruby-on-rails-setup.','http://www.ubuntugeek.com/pinta-paint-net-clone-for-linux.html#more-4476', :target => "_blank"
      %p
        %h4

          For me, what is left to do is to install postgresql
      %p
        %h4
          .black-well
            sudo apt-get install postgresql libpq-dev
            %br
            gem install pg
      %p
        %h3
          .red
            Install “Open Terminal [Command-Prompt] Here”
      %p
        %h4

          This allows you to open a terminal from any path in the file manager Nautilus. From: 
          = link_to 'http://superuser.com/questions/166407/how-to-open-a-menu-with-open-terminal-h……','http://superuser.com/questions/166407/how-to-open-a-menu-with-open-terminal-here-in-ubuntu-10-04-by-left-clicking-de', :target => "_blank"
      %p
        %h4
          .blackwell
            sudo apt-get install nautilus-open-terminal
      %p
        %h4

          To complete the set up of Rails development environment along with the required test setup and deployment (using heroku) environment, refer to the excellent Ruby on Rails Tutorial, chapters 1 and 3. Chapter 2 is about using scaffold to create a sample app, and doesn’t add any value towards our current goal: setting up the environments.
      %p
        %h4

          Of course, my ideas about what constitutes my preferred configuration is bound to change over time, and so would the tools required to do the job. If I come across something great, I will try to update this post with that info.
      %p
        %h4

          Thanks for reading and I hope at least some of it would have been useful for you.
