%br
%br
%br
%br
%br
.row
  .col-sm-12
    .col-sm-6
      .well1
        .well6
          %h4.normal
            = image_tag "css.jpg"
            %b CSS 
        %br
        Style Sheet Language used for describing the look and formatting of a
        document written in a markup language.
        %br Ref: http://www.csstutorial.net/
    .col-sm-6
      .well1
        .well3
          %h4.normal
            = image_tag "html.jpg"
            %b HTML
        %br
        A standardized system for tagging text files to achieve font, colour, graphic, and hyperlink effects on World Wide Web pages.
        %br Ref: http://www.html5-tutorials.org/


%br
.row
  .col-sm-12
    .col-sm-6
      .well1
        .well2
          %h4.normal
            = image_tag "rails.png"
            %b RAILS
        %br Ruby on Rails is an open-source web framework that’s optimized for programmer happiness and sustainable productivity. 
        %br Ref: https://www.railstutorial.org/

    .col-sm-6
      .well1
        .well2
          %h4.normal
            = image_tag "an.jpg"
            %b ANGULAR JS 
        %br
        AngularJS, is an open-source web application framework, that assists with creating single-page applications,
        %br Ref: https://docs.angularjs.org/tutorial

%br
.row
  .col-sm-12
    .col-sm-6
      .well1
        .well5
          %h4.normal
            = image_tag "js.jpg"
            %b JAVA SCRIPT   
        %br
        An object-oriented computer programming language commonly used to create interactive effects within web browsers.
        %br
        Ref: http://www.codecademy.com/en/tracks/javascript
    .col-sm-6
      .well1
        .well4
          %h4.normal
            = image_tag "sql.jpg"
            %b PSQL
        %br
        Query language for requesting information from a database.
        %br 
        Ref: http://www.postgresqltutorial.com/

