
!!!
%html
  %head
    %title Website
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
      
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .pull-left
          = image_tag "logo.png" ,:width => "300",:height => "300"
          %br
          %span.rotate
            %h4
              Clean Code Matters
          
        .pull-right
          #container
            #cube.animate
              %div
              %div
              %div
              %div
              %div
              %div
        
        .container
          %link{:href => "/assets/rock.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
          = render 'rock'
    %br
    %br
    %br
    = yield        
                
